body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: 'Arial', Times, serif;
  color: white;
  width: 100%;
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  animation: gradientSpin 15s linear infinite;
}

.form-container {
  width: 60%; /* Adjusted width of the form container */
  background: linear-gradient(90deg, #212121ea 50%, #212121 50%) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: row; /* Changed to row to align contact info and form horizontally */
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

.form-container .form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 83%;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input,
.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus,
.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: center; /* Adjusted alignment */
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 30%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  text-shadow: 0px 0px 1px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Updated CSS for the navbar to make it fixed at the top */
.navbar {
  width: 100%;
  height: 49.5px;
  background-color: #555;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0px 8px 0px;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
}

.navbar a {
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar :hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.svgs {
  width: 30px;
  display: block;
  margin: 0 auto 5px;
}

.socials {
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  text-decoration: none;

}

.email {
  text-decoration: none;
  color: #fff;
}

.contact-info .email:hover {
  color: #04AA6D;
}

.Follow {
  padding-top: 15px;
}

.penis {
  text-decoration: none;
}